<footer>
		<hr>
		<div class="container">
			<div class="footer">
				<div class="footer__copy">
					<p>Copyright by Comtruavip 2017</p>
				</div>
				<div class="footer__social social">
					<a class="social__icon" href="#">
					<img src="img/ic_face.svg" alt="Facebook">
					</a>
					<a class="social__icon" href="#">
					<img src="img/ic_google_plus.svg" alt="Google+">
					</a>
					<a class="social__icon" href="#">
					<img src="img/ic_instagram.svg" alt="Instagram">
					</a>
				</div>
			</div>
		</div>
	</footer>