<header>
		<div class="container">
			<div class="heading">
				<div class="heading__logo"><a href="#"><img src="img/logo.svg" alt="logo"></a></div>
					<nav>
						<ul class="heading__menu">
							<li class="heading__item">
							<a class="heading__link" href="#">About</a>
							</li>
							<li class="heading__item">
							<a class="heading__link" href="#">Download</a>
							</li>
							<li class="heading__item">
							<a class="heading__link" href="#">Workflow</a>
							</li>
							<li class="heading__item">
							<a class="heading__link" href="#">Support</a>
							</li>
							<li class="heading__item">
							<a class="heading__link" href="#">User Stories</a>
							</li>
							<li class="heading__item">
							<a class="heading__link" href="#">Contact</a>
							</li>
						</ul>
					</nav>
			</div>
			<div class="mainTxt">
				<div class="mainTxt__title">
					<div class="mainTxt__text">
						<h1 class="h2 h2--black">Built with app designers in mind</h1>
						<p class="mainTxt__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Lorem ipsum dolor sit amet.</p>
					</div>
					<button class="button">How it work</button>
				</div>	
				<div class="mainImg">
					<p class="mainImg__sign f18px regular white_txt ">Some Title</p>
					<img src="img/cammera.svg" alt="phone">
				</div>
			</div>
		</div>
	</header>