<section class="about_us">
	<div class="container">
	<div class="article">
		<div class="article__title">
			<p class="article__p">How it works</p>
			<h2 class=" h2 h2--orange">Lorem ipsum is simply</h2>
		</div>
	</div>

	<div class="grid">
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_food.svg" alt="food">
			</div>
			<p class="egg__title"> {{some_title}}</p>
			<p class="egg__p">{{some_txt}}</p>
		</div>
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_cart.svg" alt="cart">
			</div>
			<p class="egg__title">{{some_title}}</p>
			<p class="egg__p">{{some_txt}}</p>
		</div>
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_setting.svg" alt="settings">
			</div>
			<p class="egg__title">{{some_title}}</p>
			<p class="egg__p">{{some_txt}} </p>
		</div>
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_user.svg" alt="user">
			</div>
			<p class="egg__title">{{some_title}} </p>
			<p class="egg__p">{{some_txt}} </p>
		</div>
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_edit.svg" alt="edit">
			</div>
			<p class="egg__title">{{some_title}} </p>
			<p class="egg__p">{{some_txt}} </p>
		</div>
		<div class="egg">
			<div class="egg__img">
			<img src="img/ic_email.svg" alt="email">
			</div>
			<p class="egg__title">{{some_title}} </p>
			<p class="egg__p">{{some_txt}}</p>
		</div>
	</div>
	</div>
</section>
<section class="mailing">
	<div class="container container--min">
		<div class="mainForm">
			<div class="whitetxt">
			<div class="whitetxt__title">
				<h2 class="h2 h2--upper">Receive notification now</h2>
				<p class="whitetxt__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <br>
				labore et dolore magna aliqua. Lorem ipsum dolor.</p>
			</div>
			</div>
			<div class="mainForm__form">
				<form >
					<input  class="mainForm__mail" type="text" value="Your email address ..." onfocus="if (this.value == 'Your email address ...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Your email address ...';}">
					<input class="button button--white" type="submit" value="I'm ready!">
				</form>
			</div>
		</div>
	</div>
</section>